@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,900');
body,
html {
    margin: 0;
    padding: 0;
    border: 0;
    top: 0;
    left: 0;
    background-color: red;
    font-family: 'Roboto', sans-serif;
}


/* #header */

.header-home {
    background-color: #dadada;
    height: 75px;
    display: flex;
    align-items: center;
}

.header-home .bloc-logo {
    float: left;
    width: 50%;
    padding-left: 20px;
    text-align: left;
}

.header-home .bloc-logo .img-logo {
    height: 75px;
}

.header-home .icon-menu {
    float: left;
    width: 50%;
    text-align: right;
    padding-right: 20px;
}

.header-home .icon-menu i {
    cursor: pointer;
}


/* #menu mobile*/

.main-menu {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: #e2e2e2;
    transition: all 0.5s;
}

.main-menu.open {
    left: 0;
}

.main-menu .header-menu {
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dadada;
}

.main-menu .header-menu .title-menu {
    width: 75%;
    float: left;
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    color: #3a3a3a;
}

.main-menu .header-menu .close-menu {
    width: 25%;
    text-align: center;
    float: left;
    color: #3a3a3a;
}

.main-menu .header-menu .close-menu i {
    cursor: pointer;
}

#mapid {
    height: calc(100vh - 75px);
    width: 100%;
    clear: both;
}